.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 20px;
    color: #fff;
    background-color: #3e3e3e;
    text-align: center;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}
